image: vietduy0509/deployer:latest

variables:
  SERVICE_PATH: /admin
  HOST: api.wecycle4life.com
  GIT_UBMODULE_STRATEGY: recursive
  GIT_STRATEGY: clone
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  # DOCKER_HOST: tcp://localhost:2375
  DOCKER_DRIVER: overlay

.before_script: &before_script |
  export IMAGE_TAG=$CI_COMMIT_SHORT_SHA
  mkdir ~/.ssh
  echo "$GITLAB_RUNNER_PRIVATE_KEY" > ~/.ssh/id_rsa
  chmod 600 ~/.ssh/id_rsa
  ssh-keyscan gitlab.com >> ~/.ssh/known_hosts

  function docker-build() {
    aws ecr get-login-password --region ap-southeast-1 | docker login --username AWS --password-stdin 334687143702.dkr.ecr.ap-southeast-1.amazonaws.com/recipes
    docker build -t 334687143702.dkr.ecr.ap-southeast-1.amazonaws.com/$CI_PROJECT_NAME:$IMAGE_TAG .
    docker push 334687143702.dkr.ecr.ap-southeast-1.amazonaws.com/$CI_PROJECT_NAME:$IMAGE_TAG
  }

before_script:
  - *before_script

stages:
  - build
  - deploy

build image:
  stage: build
  tags:
    - wecycle-runner
  script: |
    docker-build

deploy recipes ec2:
  when: manual
  stage: deploy
  tags:
    - wecycle-runner
  variables:
    NAMESPACE: default
  script:
    # - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY};
    # - ssh $SSH_USER@$SSH_SERVER_IP
    - ls -al 
    - envsubst < docker-compose.yml | docker-compose up -d -f 
    - docker image prune -f